:root {
    --color-blue: #008BFE;
    --color-white: #ffffff;
    --font: "Roboto", sans-serif;
}

body {
    font-family: var(--font);
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}